<oauth2.login.configuration>
  <web acceptedRedirectUrl="~/Account/LoginSuccess" failedRedirectUrl="~/Account/LoginFail" proxy="" />
  <oauth>
    <add name="Google"
         clientid="YOUR_CLIENT_ID"
         clientsecret="YOUR_CLIENT_SECRET"
         callbackUrl="/Account/Callback/Google"
         scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile" />

    <add name="Facebook"
         clientid="YOUR_CLIENT_ID"
         clientsecret="YOUR_CLIENT_SECRET"
         callbackUrl="/Account/Callback/Facebook"
         scope="public_profile,user_friends,email" />

    <add name="WindowsLive"
         clientid="YOUR_CLIENT_ID"
         clientsecret="YOUR_CLIENT_SECRET"
         callbackUrl="/Account/Callback/WindowsLive"
         scope="wl.basic,wl.emails" />

    <add name="PayPal"
         clientid="YOUR_CLIENT_ID"
         clientsecret="YOUR_CLIENT_SECRET"
         callbackUrl="/Account/Callback/PayPal"
         scope="openid profile email address phone https://uri.paypal.com/services/paypalattributes https://uri.paypal.com/services/expresscheckout"
         endpoint="sandbox" />

  </oauth>
</oauth2.login.configuration>