<oauth2.login.configuration>
  <web acceptedRedirectUrl="~/Account/LoginSuccess" failedRedirectUrl="~/Account/LoginFail" proxy="" />
  <oauth>
    <add name="Google"
         clientid="YOUR_CLIENT_ID"
         clientsecret="YOUR_CLIENT_SECRET"
         callbackUrl="/Account/Callback/Google"
         scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile" />

    <add name="Facebook"
         clientid="YOUR_CLIENT_ID"
         clientsecret="YOUR_CLIENT_SECRET"
         callbackUrl="/Account/Callback/Facebook"
         scope="public_profile,email" />

    <add name="Twitter"
         clientid="YOUR_CLIENT_ID"
         clientsecret="YOUR_CLIENT_SECRET"
         callbackUrl="Account/Callback/Twitter" />
  </oauth>
</oauth2.login.configuration>